* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century gothic;
}

body {
    min-height: 100vh;
}

nav {
    display: flex;
    height: 10vh;
    background: rgba(94, 231, 67, 0.548);
}

.links {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    color: black;
    padding: 5px;
}

.bodyy {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 10vh;
    width: 100vw;
    background: rgba(0, 255, 234, 0.342);
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

@media screen and (max-width:760px) {

    .line1,
    .line2,
    .line3 {
        height: 4px;
        width: 30px;
        background: White;
        margin: 5px;
    }

    nav {
        position: relative;
        z-index: 4;
    }

    .hamb {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }


    .links.open {
        position: fixed;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background: rgb(43, 255, 0);
        clip-path: circle(900px at 90% -10%);
        transition: all 1.2s ease;
    }
}